 "force-app/main/default/customMetadata/External_System_Header.DD_API_KEY.md-meta.xml
force-app/main/default/certs

.DS_Store
.sfdx
.project
.salesforce
.settings
node_modules
.idea

aggregated_results.html
basic-apex